@font-face {
	font-family: FE THE PROFESSIONAL;
	src: url("../fonts/FETHEPROFESSIONAL.ttf") format("truetype");
}
html,
body {
	margin: 0;
	padding: 0;
	font-family:  Open Sans,  sans-serif;
}
.about_cmit{
	height: 100vh;
	background-color: #E8E8E8;
}
.headline_about_cmit{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: FE THE PROFESSIONAL Regular;
    font-size: 250%;
}
.borderbotthorizontal{
	border-bottom: 5px solid;
	width: 20%;
	height: 5px;
}
.about_cmit_text{	  	
	text-align: center;
	font-size: 345%;
	margin: auto;
}
.about_cmit_footer{
    height: 100vh;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.about_cmit_footer > a{
	height: 8%;
}
